* {
    margin: 0;
    padding: 10px;
}
form{
    border: solid rgb(199, 198, 198) 1px;
    box-shadow: 0 8px 15px 0 grey ;
    width: 80%;
    margin-left: 100px;
    border-radius: 10px;
}
h1{
    text-transform: uppercase;
    letter-spacing: 1.5em;
    font-weight: 800;
}
p{
    line-height: 2em;
}
.btn {
    width: 30%;
   margin-left:300px;  
}
body, html {
    background:url("Image/Africa.jpeg") no-repeat  fixed ;
    color:rgb(20, 5, 34);
    background-size:cover;
    background-position: center;
    margin:10px;
    padding: 10px;
    

}
button {
        margin-bottom: 30px;
        letter-spacing: 0.2em;
    }
.modal-dialog {
        display: none;
    }
.modal-header {
        
        margin-left: unset;
        text-transform: uppercase;
        color: goldenrod;
        letter-spacing: 0.6em;
        font-weight: 800;
    }
    
     
@media screen and (max-width:600px){
    .btn{
        margin-left: unset;
    }
    form{
        margin-left: 30px;
    }
}

